@import "../../data/scss/base";

:host {
  position: absolute;
}

.rack-port {
  position: absolute;
  width: cm(1.45);
  height: cm(1.6);
  background-color: #999;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #fff;
  }

  @for $i from 1 through 40 {
    &.xpos-#{$i} {
      left: cm(1.45 * $i);
    }

    &.ypos-#{$i} {
      top: cm(1.6 * $i);
    }
  }
}