:host {
  position: absolute;
}

.rack-port {
  position: absolute;
  width: 1.45em;
  height: 1.6em;
  background-color: #999;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid #fff;
  }
}