<h1>Racks</h1>

<table class="table table-striped">
  <thead class="shadow-sm">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="loading; else loaded">
      <td colspan="100%">
        <app-loading-spinner></app-loading-spinner>
      </td>
    </tr>

    <ng-template #loaded>
      <tr *ngIf="racks.length === 0">
        <td colspan="3" class="fst-italic text-center text-secondary">
          No racks have been created yet.
        </td>
      </tr>
      <tr *ngFor="let rack of racks" class="align-middle"a>
        <td>
          {{ rack.name }}
          <div class="text-secondary">ID: <app-badge>{{ rack.id }}</app-badge></div>
        <td>{{ rack.size }}U</td>
        <td class="text-end">
          <a [routerLink]="rack.id.toString()" class="btn btn-sm btn-outline-secondary me-1">
            <fa-icon [icon]="faPencil"></fa-icon> Edit
          </a>

          <button type="button" class="btn btn-sm btn-outline-danger" (click)="showRemoveConfirmation(rack)">
            <fa-icon [icon]="faDeleteLeft"></fa-icon> Delete
          </button>
        </td>
      </tr>
    </ng-template>

    <tr app-tr-form [inputs]="formInputs" (submitted)="add($event)"></tr>
  </tbody>
</table>

<ng-template #confirmDelete>
  <div class="modal-body text-center">
    <p>Are you sure you want to delete?</p>
    <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="modalRef?.hide()">No</button>
  </div>
</ng-template>