<h1>Racks</h1>

<app-loading-spinner *ngIf="loading; else loaded"></app-loading-spinner>

<ng-template #loaded>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Size (U)</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rack of racks">
        <th scope="row">{{ rack.id }}</th>
        <td>{{ rack.name }}</td>
        <td>{{ rack.size }}U</td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" *ngIf="rack.id" (click)="remove(rack.id)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <strong>Create New Rack</strong>
        </td>
      </tr>
      <tr [formGroup]="rackForm">
        <td colspan="2">
          <div class="form-floating">
            <input
              type="text" 
              class="form-control"
              [class.is-invalid]="rackForm.controls.name.invalid"
              placeholder="Name"
              formControlName="name"
              id="name"
            >
            <label for="name">Name</label>
          </div>
        </td>
        <td>
          <div class="form-floating">
            <input
              type="number" 
              class="form-control"
              [class.is-invalid]="rackForm.controls.size.invalid"
              placeholder="Size"
              formControlName="size"
              id="size"
            >
            <label for="size">Size</label>
          </div>
        </td>
        <td class="align-middle">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="rackForm.invalid || loading"
            (click)="add()"
          >Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
