<app-loading-spinner *ngIf="loading; else loaded" [fixed]="true"></app-loading-spinner>

<ng-template #loaded>
  <form [formGroup]="hardwareForm">
    <div class="d-flex justify-content-between align-items-center">
      <h1>{{ hardware.name }}</h1>
      <button type="button" class="btn btn-primary btn-inline-block">Save</button>
    </div>
    <h5>
      <app-badge>ID: {{ hardware.id }}</app-badge>
      <app-badge
        [editable]="true"
        [color]="BS_COLORS.primary"
        formControlName="size"
        label="Size"
      >
        <ng-template let-value>{{ value || 1 }}U</ng-template>
      </app-badge>
      <app-badge
        [editable]="true"
        [color]="BS_COLORS.primary"
        formControlName="maxDraw"
        label="Max Draw"
      >
        <ng-template let-value>Max Draw: {{ value || 0 }}W</ng-template>
      </app-badge>
    </h5>

    <div class="row">
      <div class="col">
        <app-rack-hardware
          [size]="hardwareForm.controls.size.value || 1"
          [ports]="ports"
        ></app-rack-hardware>
      </div>
      <div class="col">
        <app-port-table
          *ngIf="hardware.id"
          [hardwareId]="hardware.id"
          (change)="this.ports = $event"
        ></app-port-table>
      </div>
    </div>
  </form>
</ng-template>