<h1>Hardware</h1>

<app-loading-spinner *ngIf="loading; else loaded"></app-loading-spinner>

<ng-template #loaded>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Size (U)</th>
        <th scope="col">Max Power Draw</th>
        <th scope="col">Color</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of hardware">
        <th scope="row">{{ h.id }}</th>
        <td>{{ h.name }}</td>
        <td>{{ h.size }}U</td>
        <td>{{ h.maxDraw || 0 }}W</td>
        <td>{{ h.color }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Actions">
            <button type="button" class="btn btn-outline-info btn-sm d-inline-block mr-1" [routerLink]="'/hardware/' + h.id">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
  
            <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="h.id" (click)="remove(h.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <strong>Create New Hardware</strong>
        </td>
      </tr>
      <tr app-tr-form [formGroup]="hardwareForm">
        <app-form-input formControlName="name"></app-form-input>
        <app-form-input type="number" formControlName="size"></app-form-input>
        <app-form-input type="number" formControlName="maxDraw"></app-form-input>
        <app-form-input formControlName="color"></app-form-input>
        <button class="btn btn-primary" type="button" [disabled]="hardwareForm.invalid" (click)="add()">Add</button>
      </tr>
    </tbody>
  </table>
</ng-template>
