<h1>Hardware</h1>

<app-loading-spinner *ngIf="loading; else loaded"></app-loading-spinner>

<ng-template #loaded>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Size (U)</th>
        <th scope="col">Max Power Draw</th>
        <th scope="col">Color</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let h of hardware">
        <th scope="row">{{ h.id }}</th>
        <td>{{ h.name }}</td>
        <td>{{ h.size }}U</td>
        <td>{{ h.maxDraw }}W</td>
        <td>{{ h.color }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Actions">
            <button type="button" class="btn btn-outline-info btn-sm d-inline-block mr-1" [routerLink]="'/hardware/' + h.id">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </button>
  
            <button type="button" class="btn btn-outline-danger btn-sm" *ngIf="h.id" (click)="remove(h.id)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <strong>Create New Hardware</strong>
        </td>
      </tr>
      <tr [formGroup]="hardwareForm">
        <td colspan="2">
          <input type="text" class="form-control" formControlName="name" placeholder="Name">
        </td>
        <td>
          <input type="number" class="form-control" formControlName="size" placeholder="Size">
        </td>
        <td>
          <input type="number" class="form-control" formControlName="maxDraw" placeholder="Max Power Draw">
        </td>
        <td>
          <input type="string" class="form-control" formControlName="color" placeholder="Color">
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="add()">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
