@import "../../data/scss/base";

:host {
  position: absolute;
  position: absolute;
  width: cm(1.45);
  height: cm(1.6);
  background-color: #999;
  text-align: center;
  text-align: center;
  cursor: pointer;
  font-size: cm(1.45) - 2px;

  &:hover {
    background-color: #aaa;
    outline: 1px solid #fff;
    z-index: 100;

    .port-tooltip {
      display: block;
    }
  }

  @for $i from 1 through 40 {
    &.xpos-#{$i} {
      left: cm(1.45 * $i);
    }

    &.ypos-#{$i} {
      top: cm(1.6 * $i);
    }
  }
}